* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #444;
    color: #e4e4e4;
}

input, select, option, .modal > article, tr:nth-child(even) {
    background-color: #76797B !important;
}

.hidden {
    display: none;
}

#app {
    padding: 2em;
}

#app:not(.editMode) .addRow{
    display: none;
}

.border {
    border: solid currentColor 5px;
    width: 100%;
}

.category {
    display: flex;
    flex-direction: row;
}

.category > .icon {
    min-width: 8em;
    min-height: 8em;
    border-right: solid currentColor 1px;
}

.fivestar, .fourstar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fivestar {
    flex-direction: column;
}

.fivestar > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fourstar img, .fivestar img {
    width: 20px;
}

.iconButton {
    background-color: #0074d9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0.5em;
    width: 24px;
    height: 24px;
}

.row {
    padding: 0.25em;
}

.cell {
    padding: 0.1em;
    border: solid currentColor 1px;
    border-radius: 5px;
}

.cell > * {
    margin: 0.1em;
}

.row, .cell {
    display: flex;
    flex-direction: row;
}

img.monster {
    width: 45px;
    height: 45px;
}

#addContent_content {
    min-width: 20em;
}

td span {
    margin: 0.1em;
}
